/* PU */
.pu {
    position: absolute;
    color: #22c55e;
    font-weight: bold;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
  }
  
  /* Animation */
  @keyframes floatUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-40px);
      opacity: 0;
    }
  }